/* fonts */

@font-face {
    font-family: Avenir;
    src: url(/fonts/avenir/AvenirLTStd-Roman.otf);
 
}
@font-face {
    font-family: Avenir-Black;
    src: url(/fonts/avenir/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: Avenir-Medium;
    src: url(/fonts/avenir/AvenirLTStd-Medium.otf);
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
:root {
    --font-default:Avenir;
    --font-light:Avenir;

    --font-heavy:Avenir-Black;
    --font-medium:Avenir-Medium;


    /* setting up dynamic font size   **responsiveness 

    on scale  330 to 1360
    standard fonts 
    xl ->  32 to 64
    lg ->  28 to 48
    md ->
    md-2 ->
    sm ->  17 to 26
    xs ->  15 to 20

    explicit fonts --->

    exp -> 28 to 42
    exp-2 -> 32 to 56
    exp-3 -> 32 to 44
    form-title -> 34 to 44


    new font sizes :-


    */  
    --stories__description: clamp(1.50rem, calc(1.22rem + 1.21vw), 2.25rem);
    --stories__description-span: clamp(1.44rem, calc(1.06rem + 1.84vw), 2.63rem);
    /* --font-lg: clamp(1.50rem, calc(0.86rem + 3.11vw), 3.50rem); */
    --font-xl: clamp(2.00rem, calc(1.24rem + 3.23vw), 4.00rem);;
    
    --font-lg:clamp(1.75rem, calc(1.28rem + 2.02vw), 3.00rem);
   
    --font-md-2:clamp(1.88rem, calc(1.71rem + 0.78vw), 2.38rem);
  
    --font-md:clamp(1.50rem, calc(1.10rem + 1.94vw), 2.75rem);
    --font-sm:clamp(1.06rem, calc(0.85rem + 0.91vw), 1.63rem);
    --font-xs:clamp(0.94rem, calc(0.82rem + 0.50vw), 1.25rem);

    /* explicit form */
    --font-exp: clamp(1.75rem, calc(1.42rem + 1.41vw), 2.63rem);
    --font-exp-2:clamp(2.00rem, calc(1.43rem + 2.42vw), 3.50rem);
    --font-exp-3:clamp(2.00rem, calc(1.72rem + 1.21vw), 2.75rem);
    
    
    --font-form__title:clamp(2.13rem, calc(1.89rem + 1.01vw), 2.75rem);
    --font-form__description:clamp(1.50rem, calc(1.41rem + 0.40vw), 1.75rem);
    --button-text:clamp(1.06rem, calc(0.85rem + 0.91vw), 1.63rem); 

    --grid-details-font:clamp(0.94rem, calc(0.82rem + 0.50vw), 1.25rem);
    --card-grid-header:clamp(2.63rem, calc(2.10rem + 2.22vw), 4.00rem);

    /* font for list types */
    --font-list:clamp(0.94rem, calc(0.63rem + 1.31vw), 1.75rem);

    /*  color  */
    --color-primary:#E50914;

    --btn-large-text:clamp(0.94rem, calc(0.77rem + 0.71vw), 1.38rem);

    --brocamp-txt:clamp(1.06rem, calc(0.71rem + 1.51vw), 2.00rem);

    --grid-details-font:clamp(1.00rem, calc(0.86rem + 0.61vw), 1.38rem);
    --grid-details__secondary:clamp(0.81rem, calc(0.77rem + 0.20vw), 0.94rem);

}


.styles-mobile-radio-container {
    padding: 0.3rem 0.1rem 0.3rem 0.3rem;
    padding-left: 30px;
    font-size: 13px;
}
html, body {
    font-family:var(--font-default);
    background-color: #000000;
    color: #ffffff;

}

button:focus {
    outline: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* -    - -- - -- -iframe styles  - -- -- - - -*/
@media only screen and (max-width: 600px) {
    
    iframe {
    height: 192px!important;
    }
   
} 
.error {
    color: #da5656!important;
}
.row-fix {
    margin-left: 0;
    margin-right: 0;
}
.border-right {
    border-right: 1px solid #dee2e645 !important;
}



/* -------------- loading widget  ----------------- */
/* #loading-widget{
    width: 50px;
    height: 50px;
    top:50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #f1f1f9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid black;
    border-bottom-color: transparent;
    position: fixed;
    animation: spinner 1s linear infinite paused;
    -webkit-animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(1turn);
      -webkit-transform: rotate(1turn);
      -moz-transform: rotate(1turn);
      -ms-transform: rotate(1turn);
      -o-transform: rotate(1turn);
    }
  } */
  


/* backgrounds */
.section-bg__white {
    background: #ffffff;
    color: #000000;
 }

/* fonts famililes.... */
.font-weight-heavy {
font-family: var(--font-heavy);
}

.font-weight-medium {
    font-family: var(--font-medium);
    }
/* fonts famililes.... */ 
.font-xl {
   font-size: var(--font-xl);
   line-height: 1.3;
}

.font-lg {
    font-size: var(--font-lg);
}
.font-md {
    font-size: var(--font-md);
}
.font-md-2 {
    font-size: var(--font-md-2);
}
.font-sm {
    font-size: var(--font-sm);
}
.font-xs {
    font-size: var(--font-xs);
}



   /* explicit font sizes */
    .font-exp {
        font-size: var(--font-exp);
    }
    .font-exp-2 {
        font-size: var(--font-exp-2);
    }
    .font-exp-3 {
        font-size: var(--font-exp-3);
    }
    .font-form__title {
        font-size: var(--font-form__title);
    }
    .font-form__description {
        font-size: var(--font-form__description);
    }
    .button-text {
        font-size: var(--button-text);
    }
    .font-brocamp-txt {
        font-size: var(--brocamp-txt);
    }

    .font-list {
        font-size: var(--font-list);
    }



/* colors */
.color-primary {
    color: var(--color-primary);
}
/* buttons */

.btn-primary {
    background: var(--color-primary);
    color: white;
    font-family: var(--font-heavy);
    border: none;
    /* font-size: var(--font-xs); */
    font-size: var(--btn-large-text);

}
.font-xs {
    font-size: var(--font-xs);
}
.btn-primary:active {
    background-color: var(--color-primary)!important;
    color: white;
    font-family: var(--font-heavy);
    border-color: var(--color-primary)!important;
    font-size: var(--font-xs);
}
.btn-primary:hover {
    background: #eb3039;
    color: white;
}
.btn-secondary:hover {
    background: #eb3039!important;
    color: white;
    border: 1px solid #eb3039!important;
}
.btn-fade--black-desktop {
    border: 1px solid;
    z-index: 100;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 3%;
    right: 0;
    height: 60px;
    font-size: 20px;

}

@media only screen and (max-width: 600px) {
    .font-xl {
        line-height: 1.3;
        font-size: 27px;
    }
    .font-list {
        font-size: 17px;
        margin-top: 2px;
    }

    .font-sm {
        font-size: 20px;
    }
    .font-brocamp-txt {
        font-size: 20px;
    }
    .btn-border-radius {
        border-radius: 12px;
    }
   
    .btn-fade--black {
        border: none!important;
        padding-top: 63px!important;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        margin-top: -141px!important;
        box-shadow: none!important;
        
    }

    .btn-fade--black-desktop {
        border: 1px solid;
        z-index: 100;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        bottom: 1%;
        right: 0;
        font-size: 18px;
    
    }
    .btn-fade--black:hover {
        border: none!important;
        padding-top: 63px!important;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) !important;
        margin-top: -141px!important;
        color: #eb3039!important;
        box-shadow: none;
    }
    .list-section img {
        width: 20px;
        height: 20px;
    }
}


/* -- navbar -- */
header {
    margin-bottom: 2rem;
}
.nav-bar {
font-family: var(--font-heavy);
position:fixed;
top: 0;
background: rgba(0,0,0,0.2);
padding: 0.5rem;
z-index: 2000;

/* z-index: 100; */
}
@media only screen and (max-width: 600px) { 

    .header-logo {
        width: 132px;
        height: auto;
    }
}

/* .active {
    backdrop-filter: blur(10px);
} */
.active {
   
    z-index: 2000;
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .active {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

/* hamburger menu */



/* -- title section --  */

.background-image {
    background-image: url('/images/bg-main.webp');
    background-repeat: no-repeat;
    padding-bottom: 80px;
    padding-top: 60px!important;
    z-index: 1000;
    /* height: 100vh; */
    background-size: 80% ;
    background-position: -85% -10px;
    position: relative;
    /* background-position:  -10% 0% -57% %; */
}
.background-image::after {
    content: "";
    background:linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%) ;
    height: 66px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
 }
 .truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
 }
 /* .title-container {
     margin-right: 5rem;
 } */
 
@media only screen and (max-width: 600px) {
    /* .title-container{
        width: 100%;
    margin-left: auto;
   
    } */
    .title-container {
        margin-top: 40vh;
        margin-right: none;
        padding-left: 0;
        padding-right: 0;
    }
    .background-select-card {
        border-radius: 52px;
        box-shadow: 0px 3px 6px #0000001a;
        /* padding-left: 10px;
        padding-right: 10px; */
    }

    .discount {
        position: absolute;
        bottom: 28%!important;
        right: 0!important;
        width: 40px!important;
    }
    .background-image {
        background-position: top 9px left 28%;
        background-size: 150%;
        padding-bottom: 10px;
    }
    .background-image::after {
        content: "";
        background:linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%) ;
        height: 10px;
        width: 100%;
    }
    [type="radio"]:not(:checked) + label {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: white;
        border: 0.5px solid rgba(255, 255, 255, 0.19);
        border-radius: 28px;
        box-shadow: 0px 3px 6px #0000001a;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(9.9px);
        padding: 1.3rem 0rem 1rem 1rem;
        padding-left: 40px;
        /* margin-bottom: 0; */
    }
   
}





.title-section h2 {
    font-family: var(--font-heavy);
    font-size: var(--font-xl);
    text-align: center;
}
.title-section p {
    font-size: 15px;
    font-family: var(--font-default);
    text-align: center;
}

.background-select-card {
    border-radius: 52px;
    box-shadow: 0px 3px 6px #0000001a;

}
.background-select-card h5 {
    font-family: var(--font-heavy);
}
/* ---------radio divs and buttons ----------*/


.background-radio {
    border: 0.5px solid white;
    border-radius: 28px;
    box-shadow: 0px 3px 6px #0000001a;
    cursor: pointer;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:not(:checked)+ label:hover {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
    border: 0.5px solid white;
    background:rgba(255, 255, 255, 0.19);
    border-radius: 28px;
    padding: 1rem;
    padding-left: 48px;
}
[type="radio"]:checked + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    /* border: px solid rgba(255, 255, 255, 0.19); */
    color: white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(9.9px);
    border-radius: 28px;
    padding: 1rem;
    padding-left: 48px;
}
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.19);
    border-radius: 28px;
    box-shadow: 0px 3px 6px #0000001a;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(9.9px);
    padding: 1rem;
    padding-left: 48px;
}
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 19.3px;;
    top: 32%;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.19);
}
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 19.3px;
    top: 32%;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.19);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--color-primary);
    position: absolute;
    top: 37.5%;
    left: 22.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media only screen and (max-width: 600px) {
    .radio-container {
        font-size: 15px;
    }
 
    [type="radio"]:not(:checked) + label {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: white;
        border: 0.5px solid rgba(255, 255, 255, 0.19);
        border-radius: 11px;
        box-shadow: 0px 3px 6px #0000001a;
        background: rgba(255, 255, 255, 0.19);
        padding: 1rem 0.2rem 1rem 1rem;
        padding-left: 35px;
        margin-bottom: 0;
    
        
    }
    [type="radio"]:checked + label {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: white;
        background:rgba(255, 255, 255, 0.19);
        border: 0.5px solid rgba(255, 255, 255, 0.19);
        border-radius: 11px;
        padding: 1rem 0.2rem 1rem 1rem;
        padding-left: 35px;
        margin-bottom: 0;
        
    }
    [type="radio"]:not(:checked)+ label:hover {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: white;
        border: 0.5px solid rgba(255, 255, 255, 0.19);
        background:rgba(255, 255, 255, 0.19);
        border-radius: 11px;
        padding: 1rem 0.2rem 1rem 1rem;
        padding-left: 35px;
    }
    [type="radio"]:checked + label:before {
        content: '';
        position: absolute;
        left: 12px;
        top: 24%;
        width: 14px;
        height: 14px;
        border: 1px solid var(--color-primary);
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.19);
    }
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 12px;
        top: 24%;
        width: 14px;
        height: 14px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.19);
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--color-primary);
        position: absolute;
        top: 27%;
        left: 14px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
   
}
@media only screen and (max-width: 390px) {
    .radio-container {
        font-size: 15px;
    }

}
.btn-career{
    padding: 0.8rem;
    border-radius: 28px;
    font-family: var(--font-heavy);
    font-size: var(--font-xs);
}
/* -- placed students stat card --  */
.card-stat {
    background: #37E0C6;
    color: white ;
    border-radius: 16px;
    max-width: 100%;
    width: 100%;
    height: 100%;

}

.card-stat__count {
    margin-top: -0.9rem;
    font-size: 90px;
    font-family: var(--font-heavy);
}
.card-stat__text {
    font-family: var(--font-light);
    font-size: 15px;
}
.card-stat__amount {
    font-size: 24px;
    font-family: var(--font-heavy);
}
.card-stat--small {
    font-size: 15px;
    font-family: var(--font-default);
}
.student-background span {
    font-size: 20px;
    display: block;
    font-family: var(--font-heavy);
}
.student-background p {
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .student-background p {
        font-size: 10px;
    }
    .card-stat__count {
        margin-top: -0.9rem;
        font-size: 64px;
        font-family: var(--font-heavy);
    }
}

.fade-up {
    width: 100%;
    position: relative;
}
.fade-up::after {
    content: "";
    background: linear-gradient(0deg, rgba(0,0,0,1) 38%, rgba(0,0,0,0) 102%);
    height: 400px;
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: inline-block;
}

/* .btn-fade--black-desktop {
    border: 1px solid;
    z-index: 100;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 2%;
    right: 0;

} */

/* stories section */


.stories__description {
    
    font-family: var(--font-medium);
    font-size: var(--stories__description);
}
.stories__description span {
    font-family: var(--font-heavy);
}


/* Card grid */
.card-grid{
    display: grid;
    grid-column-gap: 5px;
    
    /* fit as 2 columns , 50% width wide each: */
    grid-template-columns: repeat(5, 20%);
    /* each row is 20px high -- we always span 2+ */
    grid-auto-rows: minmax(20px, auto);
    justify-content: center;
    transition:0.8s;

}

.alumini-card-grid{
    display: grid;    
    /* fit as 2 columns , 50% width wide each: */
    grid-column-gap: 5px;
    grid-template-columns: repeat(5, 20%);
    grid-row-gap: 16px;
    /* each row is 20px high -- we always span 2+ */
    grid-auto-rows: 20px;
    justify-content: center;
    transition:0.8s;

}

.card-grid > * {
    /* width: 100%; */
    /* only for older non-grid browsers: */
    float: left;  
    /* only for older non-grid browsers: */
    margin: 10px;
  }



/* card grid for mobile  */

@media only screen and (max-width: 600px) {
    .btn-career{
        border-radius: 14px;
    }
    .card-grid{
        display: grid;
        grid-gap: 0px;
        grid-column-gap: 10px;
        /* grid-row-gap: 10px; */
        /* fit as 2 columns , 50% width wide each: */
        grid-template-columns: repeat(2, 1fr);
        /* each row is 20px high -- we always span 2+ */
        grid-auto-rows: minmax(20px, auto);
        justify-content: center;
        transition:0.8s;
    }
    .card-grid > * {
        /* width: 100%; */
        /* only for older non-grid browsers: */
        float: left;  
        /* only for older non-grid browsers: */
        margin: 0px;
      }
    .alumini-card-grid {
        display: grid;
        grid-column-gap: 12px;
        grid-row-gap: 6px;
        grid-template-columns: repeat(2, 1fr);
        /* each row is 20px high -- we always span 2+ */
        grid-auto-rows: 20px;
        justify-content: center;
        transition:0.8s;
    }
    
    
    .first-grid {
        grid-row-end:span 3!important ;
        margin-bottom: 26px!important;
    }
    .grid-item__image {
        border-radius: 14px;
        display: block;
        max-width: 100%!important;
     
    }
    .grid-item__details-2 {
        font-size: 15px;
        font-family: var(--font-medium);
        max-width: 92%;
    }
}
@media only screen and (max-width: 400px) {
    .card-grid{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* fit as 2 columns , 50% width wide each: */
        grid-template-columns: repeat(2, 1fr);
        /* each row is 20px high -- we always span 2+ */
        grid-auto-rows: minmax(20px, auto);
        justify-content: center;
        transition:0.8s;
    }

}



.alumini-card-grid > * {
    /* width: 100%; */
    /* only for older non-grid browsers: */
    float: left;  
    /* only for older non-grid browsers: */
    margin: 10px;
  }

.card-grid__header {
    font-family: var(--font-medium);
    font-size: var(--card-grid-header);
    line-height: 28px;
}
.card-grid__header sub {
    
    font-family: var(--font-default);
    font-size: 15px;
    top: 14px;
    
   
}
.grid-item {
    height: auto;
    grid-row-end: span 12;
    /* max-height:510px ; */
}
.alumini-grid-item {
    height: auto;
    grid-row-end: span 12;
}
.first-grid {
    grid-row-end: span 3;
    margin-bottom: 35px;
}
.grid-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.grid-item__image {
    border-radius: 14px;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.grid-item__details-1 {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 84%, rgba(0,0,0,1) 100%);
    border-radius: 14px;
    font-family: var(--font-default);
    color: white;
    position: absolute;
    font-size: var(--grid-details-font);
    width: 100%;
    top: 65%;
    padding-top: 18%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    
    /* left: 4%; */
}
.details-1__primary {
    font-family: var(--font-heavy);
}
.alumini-details {
    font-family: var(--font-medium);
    font-size: 17px;
    margin-top: 1rem!important;
}

.details-1__secondary {
    font-size:var(--grid-details__secondary);
}

.grid-item__details-2 {
    font-size:var(--grid-details-font) ;
    font-family: var(--font-medium);
    /* width: 90%; */
}
  
.social-div{
    width: 90%;
    padding-left: 0!important;
}
.social-link {
    width:48%; 
    border-radius:15px;
    border: 0.8px solid #707070;
}
 .grid-sizer {
     width: 50%;
 }
  .grid-item--height2 { height: 140px; }


.parent-org {
    color: #BAC8C8;
    font-family: var(--font-light);
    font-size: 12px;

}

.youtube-row p {
    font-size: var(--grid-details-font);
    width: 95%;
}


/* about brocamp section */

/* .about-brocamp h6 {
    font-size: var(--font-sm);
}
.about-brocamp p {
    font-size: var(--font-sm);
} */



/* Consultation forms */
.consult-form label {
    color: #1A1C1B;
}
.consult-form input{
    display: block;
    height: 48px;
 
    border: 0.7px solid #707070;
   
    color: black;
    padding-left: 12px;
}
.consult-form select {
    display: block;
    height: 48px;
    border: 0.7px solid #707070;
    color: black;
    padding-left: 12px;
}
.consult-form a{
    font-size: 20px;
}
.consult-form input:focus {
    outline:A0A2A0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00000048;
    opacity: 1; /* Firefox */
  }


 /* styling video */

 video{
     border-radius: 14px;
     width: 100%;
 }
/* 
 video::-webkit-media-controls {
    display: none;
  } */

.profile-getmytym {
    width: 181px;
    height: 181px;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    
    .profile-getmytym {
        width: 181px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    
    .grid-item {
        height: auto;
        grid-row-end: span 12!important;
        /* max-height:510px ; */
    }
    .first-grid {
        grid-row-end: span 3!important;
        margin-bottom: 35px;
    }
    .alumini-card-grid > * {
        /* width: 100%; */
        /* only for older non-grid browsers: */
        float: left;  
        margin: 0;
        /* only for older non-grid browsers: */
       
      }
      .consult-form a{
        font-size: 18px;
    }
    .connect-title {
        font-size: 20px;
    }
   
}

.otp-card {
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
#otp .form-control {
    padding: 0 0 !important;
    }
.inputs input {
    width: 30px;
    height: 40px
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
  }
ul {
    list-style: none; /* Remove default bullets */
  }
  
  .points li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

footer a{
    color: #E50B18;
}





/* alert box */

.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}


.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}


.alert-simple.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-primary:hover{
  background-color: rgba(1, 204, 220, 0.33);
   transition:0.5s;
}

.alertprimary
{
      font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}


.alert-box {
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100000;
    height: fit-content;
}




.loading-text:after {
    content: ' . ';
    animation: dots 1s steps(5, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: #7f7f7f;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 #7f7f7f,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 #7f7f7f,
        .5em 0 0 #7f7f7f;}}



/* loading images styles mobile */
#step1{
    width: 65px;
}
#step2{
    width: 52px;
}
#step3{
    width: 68px;
}
#step4{
    width: 72px;
}
#step5{
    width: 79px;
}
#step6{
    width: 79px;
}
.loading-text-div{
    max-width: 457px;
    width: 100%;
    margin:  auto ;
    margin-top: 10px;
    text-align: center;
}



@media only screen and (max-width: 600px){
    #step1{
        width: 50px;
    }
    #step2{
        width: 40px;
    }
    #step3{
        width: 50px;
    }
    #step4{
        width: 50px;
    }
    #step5{
        width: 58px;
    }
    #step6{
        width: 64px;
    }
    .progressbar {
        position: relative;
        max-width: 500px;
        width: 80%!important;
        margin: 0px auto 0;
        height: 3px;
        background: gray;
    
        overflow: hidden;
      }
      .loading-text-div{
  
        width: 80%;
        
        margin: auto;
        margin-top: 10px;
        
    }
    
}

